{% extends "layout.twig" %}

{% block content %}
    <h2>Usuarios</h2>
    <a class="btn btn-primary" href="{{ 'admin/users/create' | url }}">Nuevo Usuario</a>
    <table class="table">
        <tr>
            <th>Nombre</th>
            <th>Email</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>Editar</td>
                <td>Eliminar</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}